@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* RESET + BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  transition: all 0.3s ease;
}

body {
  color: #fff;
  background: url(./asset/bg.png);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

footer {
  color: #111;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  margin-top: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  color: rgb(19, 78, 60);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
