body {
  background: url(./asset/bg.png);
}

.box {
  padding: 3rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Instrument Serif", serif;
  background-color: #fff;
  color: #111;
  border-radius: 12px;
}

.btn-container {
  margin-top: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-heading {
  font-family: "Instrument Serif", serif;
}

.main-heading > span {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  color: rgb(19, 78, 60);
  font-weight: 900;
}

.btn-container a {
  color: rgb(255, 255, 255);
  background: rgb(19, 78, 60);
  padding: 0.7rem 3.45rem;
  border-radius: 10rem;
  transition: all 0.3s ease;
}

.btn-container a:active,
.btn-container a:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.social-links {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.fa-linkedin-in {
  color: rgba(131, 172, 158, 0.385);
  margin-right: 1rem;
  transition: all 0.3s ease;
}

.fa-linkedin-in:hover {
  color: rgb(19, 78, 60);
}

.fa-envelope {
  color: rgba(131, 172, 158, 0.385);

  transition: all 0.3s ease;
}

.fa-envelope:hover {
  color: rgb(19, 78, 60);
}

.support {
  color: rgb(19, 78, 60);
  position: absolute;
  top: 1%;
  text-decoration: underline;
  font-weight: 500;
  font-style: italic;
  right: 2%;
}

@media (max-width: 470px) {
  .box {
    font-size: 2.5rem;
  }
  .btn-container {
    font-size: 0.8rem;
  }
  .btn-container a {
    padding: 0.6rem 2rem;
  }
}
